services:
  game-service:
    image: gammonx/game-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      args:
        BUILD_CONFIGURATION: Debug
    container_name: server
    ports:
      - "8080:8080"   # controller port
      - "8081:8081"   # signalR port
    environment:
      - DOTNET_ENVIRONMENT=Development
      - GAME_SERVICE__BASEPATH=/game
      - BOT_SERVICE__BASEURL=http://localhost:8082/bot/wildbg/
      - BOT_SERVICE__TIMEOUTSECONDS=5
      - LOG_LEVEL__DEFAULT=Debug
      - LOG_LEVEL__MICROSOFTASPNETCORE=Debug
    depends_on:
      - wildbg-service

  wildbg-service:
    image: gammonx/wildbg-service
    build:
      context: ../gammonx-wildbg
      dockerfile: ./dockerfile
      args:
        BUILD_CONFIGURATION: debug
    container_name: wildbg-bot
    ports:
      - "8082:8082"
    environment:
      - SERVICE_BASEPATH=/bot/wildbg

  lambda-service:
    image: gammonx/lambda-service
    build:
      context: ./src/GammonX/GammonX.Lambda/
      dockerfile: Dockerfile
      args:
        BUILD_CONFIGURATION: Debug
    container_name: lambda
    ports:
      - "9000:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - AWS_LAMBDA_FUNCTION_NAME=MATCH_COMPELTED
      # - AWS_LAMBDA_FUNCTION_NAME=GAME_COMPLETED
      # - AWS_LAMBDA_FUNCTION_NAME=PLAYER_RATING_UPDATED
      # - AWS_LAMBDA_FUNCTION_NAME=PLAYER_STATS_UPDATED

  dynamodb-local:
      image: amazon/dynamodb-local
      container_name: dynamodb-local
      ports:
        - "8000:8000"
      command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
      volumes:
        - ./dynamodb-data:/home/dynamodblocal/data

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: dynamodb-admin
    ports:
      - "8001:8001"
    environment:
      - DYNAMO_ENDPOINT=http://dynamodb-local:8000
    depends_on:
      - dynamodb-local