services:
  game-service:
    image: gammonx/game-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      target: server-final
      args:
        BUILD_CONFIGURATION: Debug
    container_name: server
    ports:
      - "8080:8080"   # controller port
      - "8081:8081"   # signalR port
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - GAME_SERVICE__BASEPATH=/game
      - BOT_SERVICE__BASEURL=http://wildbg-service:8082/bot/wildbg/
      - BOT_SERVICE__TIMEOUTSECONDS=5
      - LOG_LEVEL__DEFAULT=Debug
      - LOG_LEVEL__MICROSOFTASPNETCORE=Debug
    depends_on:
      - wildbg-service
    networks:
    - gammonx-network   

  wildbg-service:
    image: gammonx/wildbg-service
    build:
      context: ../gammonx-wildbg
      dockerfile: ./dockerfile
      args:
        BUILD_CONFIGURATION: debug
    container_name: wildbg-bot
    ports:
      - "8082:8082"
    environment:
      - SERVICE_BASEPATH=/bot/wildbg
    networks:
    - gammonx-network   

  lambda-game-completed:
    image: gammonx/lambda-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      target: lambda-runtime
      args:
        BUILD_CONFIGURATION: Debug
    container_name: lambda-gc
    ports:
      - "9001:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - AWS_LAMBDA_FUNCTION_NAME=GAME_COMPLETED
      - AWS__DYNAMODB_SERVICEURL=http://dynamodb-local:8000
      - AWS__AWS_ACCESS_KEY_ID=local
      - AWS__AWS_SECRET_ACCESS_KEY=local
      - AWS__DYNAMODB_TABLENAME=GammonX
      - AWS__REGION=
    networks:
    - gammonx-network   

  lambda-match-completed:
    image: gammonx/lambda-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      target: lambda-runtime
      args:
        BUILD_CONFIGURATION: Debug
    container_name: lambda-mc
    ports:
      - "9002:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - AWS_LAMBDA_FUNCTION_NAME=MATCH_COMPELTED
      - AWS__DYNAMODB_SERVICEURL=http://dynamodb-local:8000
      - AWS__AWS_ACCESS_KEY_ID=local
      - AWS__AWS_SECRET_ACCESS_KEY=local
      - AWS__DYNAMODB_TABLENAME=GammonX
      - AWS__REGION=
    networks:
    - gammonx-network   

  lambda-player-created:
    image: gammonx/lambda-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      target: lambda-runtime
      args:
        BUILD_CONFIGURATION: Debug
    container_name: lambda-pc
    ports:
      - "9003:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - AWS_LAMBDA_FUNCTION_NAME=PLAYER_CREATED
      - AWS__DYNAMODB_SERVICEURL=http://dynamodb-local:8000
      - AWS__AWS_ACCESS_KEY_ID=local
      - AWS__AWS_SECRET_ACCESS_KEY=local
      - AWS__DYNAMODB_TABLENAME=GammonX
      - AWS__REGION=
    networks:
    - gammonx-network   

  lambda-stats-updated:
    image: gammonx/lambda-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      target: lambda-runtime
      args:
        BUILD_CONFIGURATION: Debug
    container_name: lambda-ps
    ports:
      - "9004:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - AWS_LAMBDA_FUNCTION_NAME=STATS_UPDATED
      - AWS__DYNAMODB_SERVICEURL=http://dynamodb-local:8000
      - AWS__AWS_ACCESS_KEY_ID=local
      - AWS__AWS_SECRET_ACCESS_KEY=local
      - AWS__DYNAMODB_TABLENAME=GammonX
      - AWS__REGION=
    networks:
    - gammonx-network   

  lambda-rating-updated:
    image: gammonx/lambda-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      target: lambda-runtime
      args:
        BUILD_CONFIGURATION: Debug
    container_name: lambda-pr
    ports:
      - "9005:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - AWS_LAMBDA_FUNCTION_NAME=RATING_UPDATED
      - AWS__DYNAMODB_SERVICEURL=http://dynamodb-local:8000
      - AWS__AWS_ACCESS_KEY_ID=local
      - AWS__AWS_SECRET_ACCESS_KEY=local
      - AWS__DYNAMODB_TABLENAME=GammonX
      - AWS__REGION=
    networks:
    - gammonx-network   

  lambda-api-gateway:
    image: gammonx/lambda-service
    build:
      context: .
      dockerfile: ./src/GammonX/Dockerfile
      target: lambda-runtime
      args:
        BUILD_CONFIGURATION: Debug
    container_name: lambda-ag
    ports:
      - "9006:8080"
    environment:
      - DOTNET_ENVIRONMENT=Development
      - DOTNET_RUNNING_IN_CONTAINER=true
      - AWS_LAMBDA_FUNCTION_NAME=API_GATEWAY_HANDLER
      - AWS__DYNAMODB_SERVICEURL=http://dynamodb-local:8000
      - AWS__AWS_ACCESS_KEY_ID=local
      - AWS__AWS_SECRET_ACCESS_KEY=local
      - AWS__DYNAMODB_TABLENAME=GammonX
      - AWS__REGION=
    networks:
    - gammonx-network   

  aws-stack-local:
    image: localstack/localstack:latest
    environment:
      - SERVICES=sqs,lambda
      - DOTNET_RUNNING_IN_CONTAINER=true
      - AWS__DYNAMODB_SERVICEURL=http://dynamodb-local:8000
      - AWS__AWS_ACCESS_KEY_ID=local
      - AWS__AWS_SECRET_ACCESS_KEY=local
      - AWS__DYNAMODB_TABLENAME=GammonX
      - AWS__REGION=
    ports:
      - "4566:4566"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./stack-init.sh:/etc/localstack/init/ready.d/init.sh
      - ./src/GammonX/GammonX.Lambda/zip/:/tmp/lambdas
    networks:
      - gammonx-network
    depends_on:
      - dynamodb-local

  dynamodb-local:
      image: amazon/dynamodb-local
      container_name: dynamodb-local
      ports:
        - "8000:8000"
      command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
      volumes:
        - ./dynamodb-data:/home/dynamodblocal/data
      networks:
      - gammonx-network        

  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: dynamodb-admin
    ports:
      - "8001:8001"
    environment:
      - DYNAMO_ENDPOINT=http://dynamodb-local:8000
    depends_on:
      - dynamodb-local
    networks:
    - gammonx-network        

networks:
  gammonx-network:
    driver: bridge